@model Migrations.Models.HomeViewModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Host

<!DOCTYPE html>
<html>
<head>
    <title>Hello from MVC</title>
</head>
<body>
<h2>Hello @Model.Name from MVC!</h2>
Environment: @Host.EnvironmentName
</body>
</html>