<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.title</title>
</head>
<body>
    <div class="container" id="main">
        @RenderBody()
    </div>
    <script src="~/scripts/jquery/jquery.min.js"></script>
    <script src="~/scripts/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
